* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[data-theme="light"] {
    --primary-bg-color: #ffffff;
    --second-bg-color: #f9f9f9;
    --third-bg-color: #d6eed8;
    --primary-text-color: #000;
    --secondary-text-color: #004c6e;
    --border-color: #ccc;
}

[data-theme="dark"] {
    --primary-bg-color: #121212;
    --second-bg-color: #1e1e1e;
    --third-bg-color: #2c2c2c;
    --primary-text-color: #ffffff;
    --secondary-text-color: #b0bec5;
    --border-color: #444;
}

body {
    display: flex;
    flex-direction: column;
    gap: 40px;
    min-height: 100vh;
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header,
footer {
    padding: 10px 20px;
    background-color: var(--third-bg-color);
}

footer {
    text-align: center;
    color: var(--secondary-text-color);
}

nav ul {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: var(--secondary-text-color);
}

.logo {
    width: 128px;
    height: auto;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

btn[data-theme-toggler] {
    padding-top: 20px;
}

#devis {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#devis,
.result-container {
    max-width: 300px;
    width: 100%;
    padding: 20px;
    background-color: var(--second-bg-color);
    border: solid 1px var(--border-color);
    border-radius: 6px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

input,
select {
    padding: 12px 20px;
    box-sizing: border-box;
    border: solid 1px var(--border-color);
    border-radius: 6px;
}

.result-container {
    margin-top: 20px;
}

.hidden {
    display: none;
}

.form-error {
    color: red;
    font-size: 0.9em;
}


/* Menu Burger */
.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    background-color: var(--third-bg-color);
}

.nav-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: -100%;
    top: 0px;
    width: 100%;
    background-color: var(--third-bg-color);
    transition: left 0.3s;
    z-index: 10;
}

.nav-menu.active {
    top: 0;
    left: 0;
}

.nav-item {
    margin: 16px 0;
}

.nav-link {
    color: var(--secondary-text-color);
    text-decoration: none;
    font-size: 1.1em;
    transition: color 0.3s;
}

.nav-link:hover {
    color: rgb(51, 159, 201);
}

.hamburger {
    display: block;
    cursor: pointer;
    z-index: 20;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: var(--secondary-text-color);
    transition: all 0.3s ease-in-out;
}

/* Hamburger animation */
.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

/* Desktop styles */
@media screen and (min-width: 600px) {

    body {
        font-size: 18px;
    }

    #devis,
    .result-container {
        max-width: 500px;
    }

    .navbar {
        padding: 0 24px;
    }

    .nav-menu {
        position: static;
        flex-direction: row;
        width: auto;
        background: none;
        left: 0;
        top: auto;
        transition: none;
    }

    .nav-item {
        margin: 0 20px;
    }

    .hamburger {
        display: none;
    }
}

@media screen and (min-width: 1200px) {

    body {
        font-size: 20px;
    }

    #devis,
    .result-container {
        max-width: 600px;
    }
}